.main_info2 {
    margin: 125px 0px 40px;
}

.main_info2 h1 {
    /* display: inline-block; */
    text-align: center;
    /* position: relative; */
    color: #F9F8F9;
    font-weight: 400;
    font-size: 3.5rem;
    text-transform: uppercase;
    /* text-shadow: 10px 10px 0px #5F54F9; */
}

figure {
    margin: 0;
}

figcaption {
    margin-bottom: 50px;
}

figcaption p {
    padding-left: 10px;
    border-left: 3px solid #5F54F9;
}

.connection {
    margin-bottom: 80px;
    background-color: #15201F;
    border-radius: 2rem;
    padding: 20px 30px;
    box-shadow: 0 4px 8px 0 rgba(95,84,249,0.5);
}

.title {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title h2 {
    font-weight: 400;
    /* margin-left: 20px; */
}

.title h2 a {
    color: #f9f8f9;
    transition: .2s;
}

.title h2 a:hover {
    color: #5F54F9;
}

.img_connection {
    /* border: 1px solid rgb(95,84,249); */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure h3 {
    display: inline-block;
    position: relative;
    color: #F9F8F9;
    font-weight: 400;
}

figure h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2rem;
    background-color: #5F54F9;
    position: absolute;
}

.card-info {
    margin-bottom: 20px;
    border: 3px solid #5F54F9;
    border-radius: 1rem;
}

.card-info h3 {
    font-size: 30px;
    text-align: center;
    color: #F9F8F9;
    font-weight: 400;
}

.card {
    border-radius: .5rem;
    width: 40%;
    box-shadow: 0 8px 16px 0 rgba(188,187,187,0.1);
    /* border: 1px solid #f9f8f9; */
}

.scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden;
}

.scale img {
    border-radius: 0.5rem;
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
}



.card:hover {
    box-shadow: 0 8px 16px 0 rgba(95,84,249,0.5);
}

.flex-card {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}

.links h3 {
    display: inline-block;
    position: relative;
    color: #F9F8F9;
    font-weight: 400;
    margin-bottom: 40px;
}

.links h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2rem;
    background-color: #5F54F9;
    position: absolute;
}

/* contact */

.contact_crew {
    color: white;
    background-color: #6A5D44;
    /* box-shadow: 0 4px 8px 0 rgba(76,69,51,0.9); */
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.5);
}

.title .MTUCI_hover:hover {
    color: #E6CFB8;
}

.color_after::after {
    background-color: gray;
}

.card_hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.card_hover:hover {
    box-shadow: 0 8px 16px 0 rgba(128,128,128,0.5);
}

.links .color_after::after {
    background-color: gray;
}

/* bam crew */
.bam_crew {
    color: #000;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 8px 16px 0 rgba(238,113,23,0.5);
}

.title .MTUCI_hover_1 {
    color: #000;
}

.title .MTUCI_hover_1:hover {
    color: #EE7117;
}

.color_after_1 {
    color: #000;
}

.color_after_1::after {
    background-color: #EE7117;
}

.card_hover1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.card_hover1:hover {
    box-shadow: 0 8px 16px 0 rgba(238,113,23,0.5);
}

.links .color_after_1::after {
    background-color: #EE7117;
}


@media (max-width: 750px) {
    .main_info2 h1 {
        font-size: 2.7rem;
    }
    .title h2 {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .main_info2 h1 {
        font-size: 1.7rem;
    }
    .connection {
        padding: 10px 10px;
    }

    figcaption {
        margin-bottom: 35px;
    }

    .title img {
        width: 50px;
        height: 50px;
    }

    .title h2 {
        font-size: 16px;
    }

    .card-info h3 {
        font-size: 18px;
    }
}