* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
}

header {
    padding: 30px 0 12px 0;
    border-bottom: 1px solid #6C57B2;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6C57B2;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}